 <footer class="footer container pt-3">
      <div class="row">
        <div class="col-12 col-md">
          <div class="col-4 text-start">
            <h3 class="text-start mb-0">
              NTI WORLD NEWS <span class="copy"><sup>&copy;</sup></span>
            </h3>
          </div>
          <small class="d-block mb-3 text-muted text-start"
            >&copy; 2021–2022</small
          >
        </div>
        <div class="col-6 col-md">
          <h5 class="text-start">Category</h5>
          <ul class="list-unstyled text-small text-start">
            <li><a class="link-secondary" href="/">Home </a></li>
            <li><a class="link-secondary" href="/general">General</a></li>
            <li><a class="link-secondary" href="/business">Business</a></li>
            <li><a class="link-secondary" href="/entertainment">Entertainment</a></li>
            <li><a class="link-secondary" href="/science">Science</a></li>
            <li><a class="link-secondary" href="/health">Health</a></li>
            <li><a class="link-secondary" href="/technology">Technology</a></li>
            <li><a class="link-secondary" href="/sports">Sports</a></li>
          </ul>
        </div>
      </div>
      <div>
        <img class="imgx" src="images/footer.png" alt="" />
      </div>
      <p class="text-small bg-danger">Made With &#128153; By Ahmed Kasem</p>
    </footer>

    <!-- -------------------------------------------------End---footer----------- -->
    <script src="js/app.js"></script>
  </body>
</html>
